#gamearea{
  height: 500px;
  width: 500px;
  background-color: red;
  margin:auto;
  position:relative;
}
.buttons{
  height: 20px;
  width: 50px;
  background-color: white;
}
#controls{
  height: 100px;
  width: 100px;
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spacing{
  height: 20px;
  width: 50px;
}
#startbutton{
  width: 100px;
  margin: auto;
}
